@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "New", null, new { @class = "btn btn-primary" })
</p>


<table id="customers" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Membership Type</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/Customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/Customers/Details/" + customer.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "membershipType"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/Customers/Edit/" + data + "'>Edit</a> <button data-customerid='" + data + "' class='btn-link js-delete'>Delete</button>"
                        }
                    }
                ]
            });
            $("#customers").on("click", ".js-delete", function () {
                var btn = $(this);
                bootbox.confirm("Are you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Customers/" + btn.attr("data-customerid"),
                            method: "DELETE",
                            success: function () {
                                table.row(btn.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}

